/.vscode
/docker/mysql/mysql-files
/node_modules
/public/hot
/public/storage
/public/test-coverage
/storage/*.key
/vendor
.env
.phpunit.result.cache
clover.xml
docker-compose.yml
npm-debug.log
yarn-error.log
.DS_Store
